<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Экстрасенсы</title>
  </head>
  <body>
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-md-4">
        <div><a href="{{ url_for('clear') }}">Удалить историю экстрасенсов</a></div>
        Истории экстрасенсов
        {% for physic in physics %}
          <div class='border'>
            <div>
              Имя: {{ physic['name'] }}
            </div>
            <div>
              Достоверность: {{ physic['veracity'] }}
            </div>
            {% for his in physic['history'] %}
              <div class="alert alert-{{ his[1] }}" role="alert">
                {{ his[0] }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="col-md-3">
        История клиента
        {% for his in session['history'] %}
          <div class="alert alert-info" role="alert">
            {{ his }}
          </div>
        {% endfor %}
      </div>
      <div class="col-md-5">
        {% if 'guess' not in session or session['guess'] == [] %}
          <div class="content-section">
            <a class="btn btn-info" href="{{ url_for('get_guess') }}">Получить предположения экстрасенсов</a>
          </div>
        {% else %}
          <div class="content-section">
            <form method="POST" action="">
              {{ postForm.hidden_tag() }}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Отправить своё число</legend>
                <div>
                  Догадки экстрасенсов:
                  {% for guess in session['guess'] %}
                    {{ guess }}
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ postForm.number.label(class="form-control-label") }}
                  {{ postForm.number(class="form-control ") }}
                  <div>
                    {% for error in postForm.number.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                {{ postForm.submit(class="btn btn-outline-info") }}
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
</body>
</html>